<div class="row">
    <div class="container">
        <div class="leagues-container col-xs-8 col-xs-offset-2">

            <div class="row" ng-if="lCtrl.group">
                <h1><u>{{lCtrl.league.leagueCaption}}</u></h1>
                <div class="col-xs-12 col-sm-6" ng-repeat="(key, group) in lCtrl.league.standings">
                    <h2 class="text-center group-name">GROUP &nbsp;{{key}}</h2>
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Team</th>
                            <th>Match Played</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="team in group">
                            <td>{{$index +1 }}</td>
                            <td>
                                <!--<div ng-click="lCtrl.goTd({teamId:team.teamId, name: team.team})">-->
                                    <!--<span ><img class="team-flag" src="{{team.crestURI}}" alt=""/></span>-->
                                    <!--{{team.team}}-->
                                <!--</div>-->
                                <a ui-sref="teamDetail({teamId:team.teamId, teamName: team.team})">

                                    <span ><img class="team-flag" src="{{team.crestURI}}" alt=""/></span>
                                    {{team.team}}
                                </a>

                            </td>
                            <td class="text-center ">{{team.playedGames}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="!lCtrl.group">
                <h1><u>{{lCtrl.league.leagueCaption}}</u></h1>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Team</th>
                            <th>Match Played</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="team in lCtrl.league.standing">
                            <td>{{$index +1 }}</td>
                            <td>
                                <!--<div ng-click="lCtrl.goTd({teamId:team.teamId, name: team.team})">-->
                                <!--<span ><img class="team-flag" src="{{team.crestURI}}" alt=""/></span>-->
                                <!--{{team.team}}-->
                                <!--</div>-->
                                <a ui-sref="teamDetail({teamId:lCtrl.getId(team), teamName: team.teamName})">

                                    <span ><img class="team-flag" src="{{team.crestURI}}" alt=""/></span>
                                    {{team.teamName}}
                                </a>

                            </td>
                            <td class="text-center ">{{team.playedGames}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
